@import 'quasar.variables.scss';

$font-family-inter-light: 'Inter Light';
$font-family-inter-regular: 'Inter Regular';
$font-family-inter-semibold: 'Inter SemiBold';

@font-face {
  font-family: $font-family-inter-light;
  src: url('src/css/fonts/Inter/Inter-Light.ttf');
}

@font-face {
  font-family: $font-family-inter-regular;
  src: url('src/css/fonts/Inter/Inter-Regular.ttf');
}

@font-face {
  font-family: $font-family-inter-semibold;
  src: url('src/css/fonts/Inter/Inter-SemiBold.ttf');
}

@for $i from 1 through 100 {
  .fs-#{$i} {
    font-size: #{$i}px;
  }
}

@for $i from 1 through 100 {
  .br-#{$i} {
    border-radius: #{$i}px;
  }
}

@for $i from 50 through 500 {
  .min-width-#{$i}px {
    min-width: #{$i}px;
  }
}

::-webkit-scrollbar {
  background-color: transparent;
  height: 7px;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: $primary;
  border-radius: 10px;
}

html {
  margin-right: calc(-1 * (100vw - 100%));
}

body {
  height: 100vh;
  background-color: $bg;
}

.h-100 {
  height: 100%;
}

.flex-1 {
  flex: 1;
}

.font-light {
  font-family: $font-family-inter-light;
}

.font-semibold {
  font-family: $font-family-inter-semibold;
}

p,
b,
a,
span,
u {
  font-family: $font-family-inter-regular;
  margin-bottom: 0;
}

.row items-center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.modal-header {
  font-size: 20px;
  color: $accent;
  font-family: $font-family-inter-semibold;
}
