$primary: #04e0ffcc;
$secondary: rgb(173, 173, 177);
$accent: white;

$dark: #1d1d1d;
$dark-page: #121212;

$positive: #238b3b;
$negative: #942727;
$info: #31ccec;
$warning: #f2c037;

$bg: rgb(24, 29, 29);
$bg-bright: #212b2f;
$primary-underlying: #04e2ff06;

$default-transition: 0.4s ease;
