$primary: #50c3ca;
$secondary: rgb(173, 173, 177);
$secondary-bright: rgb(220, 220, 220);
$accent: rgb(0, 0, 0);

$dark: #1d1d1d;
$dark-page: #121212;

$positive: #40a958;
$negative: #e25454;
$info: #31ccec;
$warning: #f2c037;

$bg: #ececec;
$bg-bright: #f8f8f8;

$default-transition: 0.4s ease;
